@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --azul-claro: #85C1E9;
  --azul-escuro: #2C3E50;
  --cor-fundo: #081D2B;
  --cor-degrade-1: #2ECC71;
  --cor-degrade-2: #1A5276;
  --cor-degrade-3: #2471A3;


  --fonte-principal: "Montserrat", sans-serif;
  --fonte-titulo: "Krona One", sans-serif;
}

*{
padding: 0;
margin: 0;
}

body {
  @apply bg-[var(--cor-fundo)];
}

/* barra de rolagem */
::-webkit-scrollbar {
  width: 9px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: var(--azul-escuro); /* Cor do fundo da barra de rolagem */
  border-radius: 0px; /* Borda arredondada do fundo */
}

::-webkit-scrollbar-thumb {
  background: #1d537a; /* Cor da parte que "desce" (a parte clicável da barra) */
  border-radius: 10px; /* Borda arredondada da parte clicável */
}

::-webkit-scrollbar-thumb:hover {
  background: #164a6e; /* Cor quando o usuário passa o mouse */
}

/* Animação de aparecer na página */
.animated-content {
  opacity: 0; /* Invisível inicialmente */
  transform: translateY(20px); /* Deslocamento para baixo */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animated-content.visible {
  opacity: 1; /* Visível */
  transform: translateY(0); /* Posição original */
}

/* Cabeçalho */
header {
    @apply flex items-center text-white pt-[10px] bg-[var(--cor-fundo)];
    font-family: var(--fonte-principal);
  }
  
header > h1 {
  @apply text-[2rem] ml-[30px]; 
}

header > div {
  @apply flex items-center ml-[28vw]; 
}

.icone_conta {
  @apply transition-transform duration-300 ease-in-out w-[3vw] ml-[33vw];
}

.icone_conta:hover {
  @apply scale-110;
}

/* Menu */

.ul_links {
    @apply flex list-none gap-[20px];
  }
  
.links {
  @apply relative no-underline text-white transition-all duration-300 ease-in-out;
}

.links::after {
  content: '';
  @apply absolute w-0 h-[2px] -bottom-1 right-0 bg-white transition-all duration-300 ease-in-out;
}

.links:hover::after {
  @apply w-full left-0 bg-white;
}

/* Rodapé */

footer {
    @apply bg-[var(--cor-fundo)] text-white;
    font-family: var(--fonte-principal); 
  }
  
footer > p {
  @apply text-center text-[0.8rem] py-[60px] ;
}
  
/* Home */

.parte1_home {
    @apply text-white pt-[15%] pl-[30px] pb-[10%];
    background: linear-gradient(to bottom, #081D2B 30%, #0E343B 80%, #124748 100%);
  }
  
.parte1_home > h1 {
  @apply text-[2.5rem];
  font-family: var(--fonte-titulo);
}

.parte1_home > h1 > span {
  @apply text-[var(--azul-claro)];
}

.parte1_home > p {
  @apply text-[1.3rem] pt-[40px] text-justify w-[90vw];
  font-family: var(--fonte-principal);
}

.parte2_home {
  @apply pt-[20%] pl-[30px] pb-[20%] relative;
  background-image: url('/imagens/energia-eolica2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.parte2_home > div {
  @apply absolute top-[10%];
}

.parte2_home > div > h1 {
  @apply text-[2.25rem] text-[var(--azul-escuro)];
  font-family: var(--fonte-titulo); 
}

.parte2_home > div > p {
  @apply text-[1.2rem] pt-[20px] text-justify w-[90vw] font-bold text-black;
  font-family: var(--fonte-principal);
}

/* Sugestões */

.container_sugestoes {
  @apply bg-gradient-to-b from-[#081D2B] to-[#081D2B] via-[#0E343B] via-[#0E343B] to-[#124748] to-[#081D2B] pt-[7%] pl-[30px] pb-[10%];
}

.container_sugestoes > h1 {
  @apply text-white text-[1.8rem];
  font-family: var(--fonte-titulo);
}

.container_sugestoes > p {
  @apply text-white pt-[1%] text-[1rem] w-[80vw];
  font-family: var(--fonte-principal); 
}

.conjunto_sugestoes {
  @apply flex gap-[10%] pt-[3%];
}

.conjunto_sugestoes2 {
  @apply pb-[5%];
}

.conjunto_sugestoes > div {
  @apply bg-white rounded-[10px] shadow-md flex flex-col items-center text-center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
}

.imagem_sugestao {
  @apply w-[25vw] rounded-[10px];
}

.conjunto_sugestoes > div > p {
  @apply text-[0.9rem] w-[22vw] py-[2%];
  font-family: var(--fonte-principal); 
}

.mensagem_carregando {
  @apply bg-[var(--cor-fundo)] text-white;
  font-family: var(--fonte-principal); 
}

/* Login */

.main_login {
  @apply bg-gradient-to-b from-[#081D2B] to-[#081D2B] via-[#0E343B] via-[#0E343B] to-[#124748] to-[#081D2B] pt-[7%] pb-[10%];
}

.container_login {
  @apply bg-transparent border-2 border-[#1ABC9C] mx-auto w-[60vw];
}

.container_login > h1 {
  @apply text-[2rem] text-[#1ABC9C] text-center font-bold;
  font-family: var(--fonte-principal); 
}

.div_texto_login {
  @apply text-[#1ABC9C] text-[1.1rem] ml-[1%];
  font-family: var(--fonte-principal);
}

.link_form {
  @apply relative no-underline text-[var(--azul-claro)] transition-all duration-300 ease-in-out;
}

.link_form::after {
  content: '';
  @apply absolute w-0 h-[2px] -bottom-1 right-0 bg-[var(--azul-claro)] transition-all duration-300 ease-in-out;
}

.link_form:hover::after {
  @apply w-full left-0 bg-[var(--azul-claro)];
}

.texto_input_form {
  @apply flex flex-col ml-[1%] mt-[2%];
  font-family: var(--fonte-principal);
}

.texto_input_form > label {
  @apply text-[#1ABC9C] text-[1.2rem] font-bold;
}

.texto_input_form > input {
  @apply w-[30vw] pl-[0.5%] border-2 border-[#1ABC9C] rounded-[5px];
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.button_login {
  @apply text-[#1ABC9C] mt-[2%] mb-[2%] ml-[1%] bg-transparent border-2 border-[#1ABC9C] p-[5px] w-[7vw] relative overflow-hidden z-[1] transition-colors duration-300;
  font-family: var(--fonte-principal); 
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
}

.button_login::before {
  content: '';
  @apply absolute top-full left-0 w-full h-full bg-[#1ABC9C] transition-all duration-300 ease-in-out;
  z-index: -1;
}

.button_login:hover {
  @apply text-white;
}

.button_login:hover::before {
  @apply top-0;
}

/* Cadastro */

.campos_obrigatorios {
  @apply ml-[1%] mt-[1%] text-[#1ABC9C];
}

/* Conta */

.container_conta {
  @apply bg-transparent border-[2px] border-[#1ABC9C] m-auto w-[60vw] shadow-[4px_4px_10px_rgba(0,0,0,0.2)];
}

.container_conta > h1 {
  @apply text-[2rem] text-[#1ABC9C] text-center font-bold;
  font-family: var(--fonte-principal);
}

.container_conta > p {
  @apply text-[#1ABC9C] text-[1.1rem] ml-[1%];
  font-family: var(--fonte-principal);
}

.container_conta > ul {
  @apply text-[#1ABC9C] text-[1.3rem] ml-[1%] mt-[2%];
  font-family: var(--fonte-principal);
}

.container_conta > ul > li {
  @apply mt-[1%];
}

.container_conta > ul > li > span {
  @apply text-white;
}

.div_botoes_conta {
  @apply flex gap-[10px] ml-[1%] mt-[2%] mb-[2%];
}

.botoes_conta {
  @apply text-[#1ABC9C] bg-transparent border-[2px] border-[#1ABC9C] p-[5px] w-[7vw] relative overflow-hidden z-[1] transition-colors duration-300 ease-in-out shadow-[4px_4px_10px_rgba(0,0,0,0.2)];
  font-family: var(--fonte-principal);
}

.botoes_conta::before {
  content: '';
  @apply absolute top-full left-0 w-full h-full bg-[#1ABC9C] transition-all duration-300 ease-in-out z-[-1];
}

.botoes_conta:hover {
  @apply text-white;
}

.botoes_conta:hover::before {
  @apply top-0;
}

/* Dados Consumo */

.container_dados_consumo {
  @apply bg-gradient-to-b from-[#081D2B] to-[#081D2B] via-[#0E343B] via-[#0E343B] to-[#124748] to-[#081D2B] pt-[7%] pl-[30px] pb-[10%];
}

.container_dados_consumo > div > h1 {
  @apply text-white text-[1.8rem];
  font-family: var(--fonte-titulo);
}

.container_dados_consumo > div > p {
  @apply text-white pt-[1%] text-[1rem] w-[80vw];
  font-family: var(--fonte-principal);
}

.form_dados_consumo {
  @apply mt-[3%];
}

.form_dados_consumo > .div_form_dados_consumo {
  @apply flex flex-col mt-[2%];
  font-family: var(--fonte-principal);
}

.form_dados_consumo > .div_form_dados_consumo > label {
  @apply text-[#1ABC9C] text-[1.4rem] font-bold;
}

.form_dados_consumo > .div_form_dados_consumo > input,
.form_dados_consumo > .div_form_dados_consumo > select {
  @apply w-[15vw] pl-[0.5%] border-[2px] border-[#1ABC9C] rounded-[5px] text-[1.2rem] shadow-[4px_4px_10px_rgba(0,_0,_0,_0.2)];
}

.botao_consumo {
  @apply text-[#1ABC9C] my-[2%] bg-transparent border-2 border-[#1ABC9C] p-[5px] w-[7vw] relative overflow-hidden z-[1] transition-colors duration-300 ease-in-out shadow-[4px_4px_10px_rgba(0,_0,_0,_0.2)];
  font-family: var(--fonte-principal);
}

.botao_consumo::before {
  @apply content-[''] absolute top-[100%] left-0 w-full h-full bg-[#1ABC9C] transition-all duration-300 ease-in-out z-[-1];
}

.botao_consumo:hover {
  @apply text-white;
}

.botao_consumo:hover::before {
  @apply top-0;
}

table {
  @apply w-[70vw] border-collapse bg-transparent shadow-[4px_4px_10px_rgba(0,_0,_0,_0.2)];
  font-family: var(--fonte-principal);
}

th, td {
  @apply p-[12px] text-left border-[1px] border-[#1ABC9C] bg-transparent;
}

th {
  @apply text-center text-[#1ABC9C];
}

td {
  @apply text-white;
}

tbody tr:nth-child(even),
tbody tr:nth-child(odd) {
  @apply bg-transparent;
}

.div_dados_consumo {
  @apply flex items-center mt-[2%];
}

.div_dados_consumo > div {
  @apply ml-[1%] text-white text-[1.1rem];
  font-family: var(--fonte-principal);
}

.texto_dados_consumo {
  @apply mt-[1%];
}

.icones_dados_consumo {
  @apply w-[6vw] h-[12vh];
}

.icone_lixo {
  @apply w-[2vw] transition-transform duration-300 ease-in-out;
}

.icone_lixo:hover {
  @apply scale-[1.1];
}

/* Sobre */

.container_sobre{
  @apply bg-gradient-to-b from-[#081D2B] to-[#081D2B] via-[#0E343B] via-[#0E343B] to-[#124748] to-[#081D2B] pt-[7%] pl-[30px] pb-[10%];
}

.container_sobre > h1 {
  @apply text-white text-[1.8rem];
  font-family: var(--fonte-titulo);
}

.container_sobre > div {
  @apply flex mt-[2%];
}

.imagem_integrante {
  @apply w-[15vw] border-[2px] border-[#2ECC71] shadow-[4px_4px_10px_rgba(0,_0,_0,_0.2)];
}

.container_sobre > div > div {
  @apply text-white text-[1.3rem] ml-[1%];
  font-family: var(--fonte-principal);
}

.div_icones_redes {
  @apply flex gap-[5px];
}

.icones_redes {
  @apply w-[4vw];
}

.icones_redes {
  @apply transition-transform duration-300 ease-in-out;
}

.icones_redes:hover {
  @apply scale-[1.1];
}

/*Página de Erro*/

.container_erro {
@apply my-[10%] flex flex-col items-center justify-center gap-[10px];
}

.container_erro > h1 {
@apply text-white text-[1.5rem];
font-family: var(--fonte-principal);
}

.container_erro > h2 {
@apply text-white text-[1.5rem];
font-family: var(--fonte-principal);
}

/* Responsividade */

@media (max-width: 1800px) {
  header > div {
    @apply ml-[25vw];
  }

  .icone_conta {
    @apply w-[3vw] ml-[35vw];
  }
}

@media (max-width: 1750px) {
  .icone_conta {
    @apply ml-[34vw];
  }
}

@media (max-width: 1700px) {
  .icone_conta {
    @apply ml-[33vw];
  }
}

@media (max-width: 1650px) {
  .icone_conta {
    @apply ml-[31vw];
  }
}

@media (max-width: 1630px) {
  .button_cadastro {
    @apply w-[10vw];
  }

  .icones_dados_consumo {
    @apply w-[5vw] h-[10vh];
  }
}

@media (max-width: 1580px) {
  .icone_conta {
    @apply ml-[29vw];
  }
}

@media (max-width: 1500px) {
  .icone_conta {
    @apply w-[4vw] ml-[26vw];
  }
}

@media (max-width: 1459px) {
  .parte1_home > h1 {
    @apply text-[2.2rem];
  }

  .parte1_home > p {
    @apply text-[1.1rem] pt-[30px];
  }

  .parte2_home > div > h1 {
    @apply text-[2rem];
  }

  .parte2_home > div > p {
    @apply text-[1.1rem] pt-[20px];
  }

  .form_dados_consumo > .div_form_dados_consumo > input {
    @apply w-[20vw];
  }

  .form_dados_consumo > .div_form_dados_consumo > select {
    @apply w-[20vw];
  }

  table {
    @apply w-[80vw];
  }

  .icones_dados_consumo {
    @apply w-[6vw] h-[10vh];
  }
}

@media (max-width: 1440px) {
  .icone_conta {
    @apply ml-[24vw];
  }
}

@media (max-width: 1370px) {
  header > div {
    @apply ml-[22vw];
  }

  .icone_conta {
    @apply ml-[24vw];
  }
}

@media (max-width: 1300px) {
  .parte1_home > h1 {
    @apply text-[2.2rem];
  }

  .parte1_home > p {
    @apply text-[1.1rem] pt-[30px];
  }

  .parte2_home > div > h1 {
    @apply text-[1.8rem];
  }

  .parte2_home > div > p {
    @apply text-[1.1rem] pt-[20px];
  }

  table {
    @apply w-[90vw];
  }

  .botao_consumo {
    @apply w-[12vw];
  }

  
}

@media (max-width: 1290px) {
  .icone_conta {
    @apply ml-[22vw];
  }

  .icones_dados_consumo {
    @apply w-[7vw] h-[10vh];
  }

  .icone_lixo{
    @apply w-[3vw]
  }
}

@media (max-width: 1230px) {
  .icone_conta {
    @apply ml-[20vw];
  }

  .imagem_integrante {
    @apply w-[20vw];
  }


}

@media (max-width: 1190px) {
  header > h1 {
    @apply ml-[10px];
  }

  header > div {
    @apply ml-[19vw];
  }

  .icone_conta {
    @apply ml-[23vw];
  }

  .parte1_home {
    @apply pl-[10px];
  }

  .parte2_home {
    @apply pl-[10px];
  }

  .container_sugestoes {
    @apply pl-[10px];
  }

  .container_sobre {
    @apply pl-[10px];
  }

  .container_dados_consumo {
    @apply pl-[10px];
  }


  .texto_dados_consumo {
    @apply mt-0;
  }
}

@media (max-width: 1170px) {
  .parte2_home {
    @apply pt-[30%] pb-[30%];
  }
}

@media (max-width: 1160px) {
  .icone_conta {
    @apply ml-[21vw];
  }

  .div_texto_login {
    @apply text-base;
  }
}

@media (max-width: 1140px) {
  .button_cadastro {
    @apply w-[12vw];
  }

}

@media (max-width: 1110px) {
  .icone_conta {
    @apply ml-[19vw];
  }
}

@media (max-width: 1070px) {
  header > div {
    @apply ml-[13vw];
  }

  .icone_conta {
    @apply ml-[21vw];
  }

  .parte2_home {
    @apply pt-[40%] pb-[20%];
  }

  .icones_dados_consumo {
    @apply w-[8vw] h-[10vh];
  }

}

@media (max-width: 1050px) {
  .imagem_sugestao {
    @apply w-[28vw];
  }

  .conjunto_sugestoes {
    @apply gap-[5%];
  }

  .container_login {
    @apply w-[70vw];
  }

  .container_conta {
    @apply w-[80vw];
  }

  .botoes_conta {
    @apply w-[12vw];
  }


  .form_dados_consumo > .div_form_dados_consumo > input {
    @apply w-[30vw];
  }

  .form_dados_consumo > .div_form_dados_consumo > select {
    @apply w-[30vw];
  }

  table {
    @apply text-[0.9rem];
  }

  .icone_lixo {
    @apply w-[3vw];
  }
}

@media (max-width: 1010px) {
  header > h1 {
    @apply text-[1.7rem];
  }

  .ul_links {
    @apply text-[0.9rem];
  }

  .icone_conta {
    @apply ml-[24vw];
  }

  .imagem_integrante {
    @apply w-[30vw];
  }

  .icones_redes {
    @apply w-[6vw];
  }
}

@media (max-width: 970px) {
  .texto_input_form > input {
    @apply w-[40vw];
  }

  .button_login {
    @apply w-[12vw];
  }

  .button_cadastro {
    @apply w-[15vw];
  }

  .icones_dados_consumo {
    @apply w-[9vw] h-[10vh];
  }
}

@media (max-width: 950px) {
  .icone_conta {
    @apply ml-[22vw];
  }

  footer > p {
    @apply text-[0.7rem];
  }
}

@media (max-width: 910px) {
  .icone_conta {
    @apply ml-[19vw];
  }

  .parte1_home > h1 {
    @apply text-[2rem];
  }

  .parte1_home > p {
    @apply text-[1rem] pt-[30px];
  }

  .parte2_home > div > h1 {
    @apply text-[1.7rem];
  }

  .parte2_home > div > p {
    @apply text-[1rem] pt-[20px];
  }
}

@media (max-width: 890px) {
  .container_sugestoes > h1 {
    @apply text-[1.5rem];
  }

  .container_sugestoes > p {
    @apply text-[0.9rem] w-[80vw];
  }

  .imagem_sugestao {
    @apply w-[29vw];
  }

  .conjunto_sugestoes {
    @apply gap-[3%];
  }


}

@media (max-width: 870px) {
  header {
    @apply block;
  }

  header > h1 {
    @apply text-[2.5rem] text-center mt-[10px];
  }

  header > div {
    @apply flex justify-between mx-[2vw] mt-[10px];
  }

  .ul_links {
    @apply text-[1rem];
  }

  .icone_conta {
    @apply w-[5vw] ml-0;
  }

  .container_sugestoes > p {
    @apply w-[90vw];
  }

  .conjunto_sugestoes {
    @apply flex flex-col justify-center items-center;
  }

  .imagem_sugestao {
    @apply w-[40vw];
  }

  .conjunto_sugestoes > div {
    @apply w-[40vw] mb-[3%];
  }

  .conjunto_sugestoes > div > p {
    @apply w-[40vw];
  }

  .icones_dados_consumo {
    @apply w-[10vw] h-[10vh];
  }

  .icone_lixo{
    @apply w-[4vw]
  }
}

@media (max-width: 840px) {
  .parte1_home > h1 {
    @apply text-[1.9rem];
  }

  .parte2_home > div > h1 {
    @apply text-[1.6rem];
  }

  .parte2_home > div > p {
    @apply pt-[5px];
  }

  .container_login {
    @apply w-[80vw];
  }

  .container_conta {
    @apply w-[90vw];
  }

  .botoes_conta {
    @apply w-[15vw];
  }

  .container_conta > ul {
    @apply text-[1.2rem];
  }
}

@media (max-width: 770px) {
  .parte2_home > div > h1 {
    @apply text-[1.5rem];
  }

  .parte2_home > div > p {
    @apply pt-[1px];
  }

  .button_cadastro {
    @apply w-[17vw];
  }

  .div_dados_consumo {
    @apply mt-[5%];
  }

  .icone_lixo {
    @apply w-[4vw];
  }

  .form_dados_consumo > .div_form_dados_consumo > input {
    @apply w-[40vw];
  }

  .form_dados_consumo > .div_form_dados_consumo > select {
    @apply w-[40vw];
  }

  .icones_dados_consumo {
    @apply w-[11vw] h-[10vh];
  }
}

@media (max-width: 730px) {
  .parte2_home > div {
    @apply top-[5%];
  }
}

@media (max-width: 720px) {
  .ul_links {
    @apply text-[0.9rem];
  }

  .icone_conta {
    @apply w-[7vw];
  }

  .imagem_sugestao {
    @apply w-[50vw];
  }

  .conjunto_sugestoes > div {
    @apply w-[50vw] mb-[3%];
  }

  .div_texto_login {
    @apply text-[0.9rem];
  }

  .button_login {
    @apply w-[16vw];
  }

  .button_cadastro {
    @apply w-[20vw];
  }

  .texto_input_form > input {
    @apply w-[50vw];
  }

}

@media (max-width: 650px) {
  .parte1_home > h1 {
    @apply text-[1.8rem];
  }

  .parte1_home > p {
    @apply text-[0.9rem];
  }

  .parte2_home > div {
    @apply top-[3%];
  }

  .parte2_home > div > h1 {
    @apply text-[1.3rem];
  }

  .parte2_home > div > p {
    @apply text-[0.9rem];
  }

  .botoes_conta {
    @apply w-[18vw];
  }

  .imagem_integrante {
    @apply w-[35vw];
  }

  .icones_redes {
    @apply w-[8vw];
  }

  .container_dados_consumo > div > h1 {
    @apply text-[1.5rem];
  }

  .container_dados_consumo > div > p {
    @apply text-[1rem] w-[90vw];
  }

  .icones_dados_consumo {
    @apply w-[13vw] h-[10vh];
  }

  .icone_lixo{
    @apply w-[5vw]
  }
}

@media (max-width: 610px) {

  .div_dados_consumo > div {
    @apply ml-[5%] text-[1rem];
  }

  .botao_consumo {
    @apply w-[20vw] mb-[5%];
  }
}

@media (max-width: 580px) {
  .parte1_home > p {
    @apply pt-[10px];
  }

  .parte2_home > div > p {
    @apply text-[0.8rem];
  }

  .container_login {
    @apply w-[90vw];
  }

  .button_cadastro {
    @apply w-[24vw];
  }

  .texto_input_form > input {
    @apply w-[60vw];
  }

  .imagem_integrante {
    @apply w-[40vw];
  }

  .icones_redes {
    @apply w-[10vw];
  }

  .container_sobre > div {
    @apply mt-[5%];
  }

  .container_sobre > div > div {
    @apply ml-[3%];
  }

  .icones_dados_consumo {
    @apply w-[15vw] h-[10vh];
  }
}

@media (max-width: 530px) {
  .parte2_home {
    @apply pt-[50%];
  }

  .imagem_sugestao {
    @apply w-[55vw];
  }

  .conjunto_sugestoes > div {
    @apply w-[55vw] mb-[3%];
  }

  .container_conta > h1 {
    @apply text-[1.8rem];
  }

  .container_conta > p {
    @apply text-[1rem];
  }

  .container_conta > ul {
    @apply text-[1.1rem];
  }

  .botoes_conta {
    @apply text-[0.9rem];
  }

  .container_sobre > h1 {
    @apply text-[1.6rem];
  }

  .imagem_integrante {
    @apply w-[45vw];
  }

  .container_sobre > div {
    @apply mt-[6%];
  }

  .container_sobre > div > div {
    @apply text-[1.2rem];
  }


  .form_dados_consumo > .div_form_dados_consumo > input {
    @apply w-[50vw];
  }

  .form_dados_consumo > .div_form_dados_consumo > select {
    @apply w-[50vw];
  }

  .container_dados_consumo > div > h1 {
    @apply text-[1.4rem];
  }

  .container_dados_consumo > div > p {
    @apply text-[0.9rem] w-[90vw] text-justify;
  }

  .icones_dados_consumo {
    @apply w-[17vw] h-[10vh];
  }
}

@media (max-width: 490px) {
  .parte1_home > h1 {
    @apply text-[1.6rem];
  }

  .parte1_home > p {
    @apply pt-[15px] text-[0.8rem];
  }

  .button_login {
    @apply w-[27vw];
  }

  .button_cadastro {
    @apply w-[27vw];
  }
}

@media (max-width: 450px) {
  header > h1 {
    @apply text-[2rem];
  }

  .ul_links {
    @apply text-[0.8rem];
  }

  .icone_conta {
    @apply w-[7vw];
  }

  .texto_input_form > input {
    @apply w-[65vw];
  }

  .container_sobre > h1 {
    @apply text-[1.3rem];
  }

  .container_sobre > div > div {
    @apply text-[1.1rem];
  }

  .icones_dados_consumo {
    @apply w-[14vw] h-[10vh];
  }

  .icone_lixo{
    @apply w-[6vw]
  }
}

@media (max-width: 410px) {
  .ul_links {
    @apply gap-[10px];
  }

  .texto_input_form > input {
    @apply w-[70vw];
  }

  .button_login {
    @apply w-[30vw];
  }

  .botoes_conta {
    @apply w-[20vw];
  }

  .container_dados_consumo > div > h1 {
    @apply text-[1.2rem];
  }

  .container_dados_consumo > div > p {
    @apply text-[0.8rem];
  }

  .icones_dados_consumo {
    @apply w-[15vw] h-[10vh];
  }
}

@media (max-width: 390px) {
  .icone_conta {
    @apply w-[9vw];
  }

  .parte1_home > h1 {
    @apply text-[1.4rem];
  }

  .parte1_home > p {
    @apply pt-[15px] text-[0.8rem];
  }

  .container_sugestoes > h1 {
    @apply text-[1.2rem];
  }

  .container_sugestoes > p {
    @apply text-[0.8rem] w-[90vw];
  }

  .imagem_sugestao {
    @apply w-[60vw];
  }

  .conjunto_sugestoes > div {
    @apply mt-[3%] w-[60vw] mb-[3%];
  }

  .container_login > h1 {
    @apply text-[1.8rem];
  }

  .div_texto_login {
    @apply text-[0.8rem];
  }

  .container_conta > h1 {
    @apply text-[1.6rem];
  }

  .div_dados_consumo > div {
    @apply ml-[3%];
  }

  .icone_lixo {
    @apply w-[6vw];
  }

  .form_dados_consumo > .div_form_dados_consumo > input {
    @apply w-[55vw];
  }

  .form_dados_consumo > .div_form_dados_consumo > select {
    @apply w-[55vw];
  }

  .botao_consumo {
    @apply w-[25vw];
  }

  .icones_dados_consumo {
    @apply w-[16vw] h-[10vh];
  }

  .icone_lixo{
    @apply w-[7vw]
  }
}
  